@use "@/styles/global" as *;

.default_chk_box {
  input {
    display: none;
  }

  label {
    cursor: pointer;
    vertical-align: middle;
    display: flex;

    span {
      padding-top: 3px;
    }

    &:before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      flex: 0 0 24px;
      background: url('@/assets/icon/icon-check-off.png') no-repeat center center;
      background-size: contain;
      vertical-align: middle;
      margin-right: 4px;
    }
  }


  input[type="checkbox"]:checked + label:before {
    content: "";
    background: url('@/assets/icon/icon-check-on.png') no-repeat center center;
    background-size: contain;
  }
}

/* input */
.default_input {
  display: flex;
  flex-direction: column;
  gap: 6px;

  label, .label {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    font-weight: $font-weight-m;
    color: $gray-700;
  }

  input {
    font-size: $font-size-md;
    line-height: $line-height-md;
    border-radius: 8px;
    border: 1px solid $gray-300;
    color: $gray-900;
    padding: 10px 14px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;

    &:focus,.active {
      border-color: #BDB4FE;
      box-shadow: 0 0 0 4px rgba(167, 139, 250, 0.3);
    }

    &::placeholder {
      color: $gray-500
    }

  }
}

