/* color */
$gray-20:#FDFDFD;
$gray-50:#FAFAFA;
$gray-100:#F5F5F5;
$gray-200:#E9EAEB;
$gray-300:#D5D7DA;
$gray-400:#A4A7AE;
$gray-500:#717680;
$gray-600:#535862;
$gray-700:#414651;
$gray-800:#252B37;
$gray-900:#101828;

$red-25:#FFFBFA;
$red-50:#FEF3F2;
$red-100:#FEE4E2;
$red-200:#FECDCA;
$red-300:#FDA29B;
$red-400:#F97066;
$red-500:#F04438;
$red-600:#D92D20;
$red-700:#B42318;

$blue-500:#0BA5EC;
$blue-700:#175CD3;


$purple-25:#FCFAFF;
$purple-50:#F9F5FF;
$purple-100:#F4EBFF;
$purple-300:#D6BBFB;
$purple-700:#6941C6;
$purple:#7F56D9;

