.todo_item {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  gap: 8px;
  border-bottom: 1px solid $gray-200;
  color:$gray-900;
  &.is_done {
    background-color: $gray-50;


    .todo_content {
      color: $gray-300;
      text-decoration: line-through;
      @extend .ellipsis1;

      &:focus {
        text-decoration: none;
        color:$gray-900
      }
    }

    .todo_memo {
      color: $gray-300;
    }


  }

  .todo_info {
    display: flex;
    align-items: center;
    gap: 8px;

  }
  .todo_content {
    display: block;
    background-color: inherit;
    flex: 1;
    border: none;
    font-size: $font-size-md;
    line-height: $line-height-md;
  }
  .todo_memo {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    color: $gray-600;
  }
}