/* 풀 팝업 */
.modal_wrap {
  width: 100%;
  max-width: 550px;
  max-height: 100%;
  border: none;
  overflow: hidden;
  height: auto;
  padding: 0;

  &::backdrop {
    background: rgba(0, 0, 0, 0.7);
  }

  &.no_backdrop {
    &::backdrop {
      display: none;
    }
  }

  .modal_header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 52px;
    padding: 0 16px;
  }

  .modal_content {
    overflow: auto;
    padding: 16px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .modal_footer {
    position: fixed;
    width: 100%;
    max-width: 550px;
    bottom: 0;
    padding: 16px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);

  }

}


/* 바텀 모달 */
.bottom_modal {
  @extend .modal_wrap;
  position: fixed;
  bottom: 0;
  border-radius: 32px;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.open {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

/* todo 팝업 */


.todo_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}