.default_header {
  position: fixed;
  padding: 0 16px;
  height: 58px;
  background-color: #fff;
  max-width: 550px;
  width: 100%;
  z-index: 1;

  .header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .header_title {
      color:$gray-900;
      font-weight: $font-weight-semi;
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 128px);
      text-align: center;
    }

  }

}
