@use "@/styles/global" as *;

@font-face {
  font-family: 'NanumSquareNeoVariable';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"),
  url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"),
  url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}



body{
  font-family: 'NanumSquareNeoVariable', sans-serif;
  background: $gray-50;
}

#root{
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  background-color:#fff;
}

section{
  position: relative;
  min-height: 100vh;
}

.inner{
  padding: 90px 16px 32px;
}

.btn_group{
  display: flex;
  align-items: center;
  gap:4px;
  &_full{
    @extend .btn_group;
    gap:8px;
    button{
      flex:1;

    }
  }
}

.ml_auto{
  margin-left: auto;
}

.flex-1{
  flex:1;
}

